[Unit]
Description=Podman  mattermost-fpm.service
BindsTo=mattermost.service
After=postgres-oauth.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p %S/state/restore/
ExecStartPre=/bin/rm -f %t/mattermost-fpm.pid %t/mattermost-fpm.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/mattermost-fpm.pid \
    --cidfile %t/mattermost-fpm.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/mattermost.pod-id --replace -d --name  mattermost-fpm \
    --env ldap_host="ldap://ldap.company.com:389/" \
    --env ldap_port=389 \
    --env ldap_version=3 \
    --env ldap_start_tls=0 \
    --env ldap_search_attribute="uid" \
    --env ldap_base_dn="ou=People,o=Company" \
    --env ldap_filter="(objectClass=*)" \
    --env ldap_bind_dn="" \
    --env ldap_bind_pass="" \
    --env db_host="127.0.0.1" \
    --env db_port="5433" \
    --env db_type="pgsql" \
    --env db_name="oauth_db" \
    --env db_user="oauth" \
    --env db_pass="Nethesis,1234" \
    ${MATTERMOST_FPM_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/mattermost-fpm.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP mattermost-fpm
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/mattermost-fpm.ctr-id
PIDFile=%t/mattermost-fpm.pid
Type=forking

[Install]
WantedBy=default.target
