[Unit]
Description=Podman  postgres-oauth.service
BindsTo=mattermost.service
After=mattermost-nginx.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p %S/state/restore/
ExecStartPre=/bin/rm -f %t/postgres-oauth.pid %t/postgres-oauth.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/postgres-oauth.pid \
    --cidfile %t/postgres-oauth.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/mattermost.pod-id --replace -d --name  postgres-oauth \
    --volume postgres-oauth:/var/lib/postgresql/data:Z \
    --env POSTGRES_USER=postgres \
    --env POSTGRES_PASSWORD=Nethesis,1234 \
    --env POSTGRES_HOST_AUTH_METHOD=trust \
    --env client_id=${OAUTH_CLIENT_ID} \
    --env client_secret=${OAUTH_CLIENT_SECRET} \
    --env redirect_uri="https://${TRAEFIK_HOST}/signup/gitlab/complete" \
    --env grant_types="authorization_code" \
    --env scope="api" \
    --env user_id="" \
    --env db_user="oauth" \
    --env db_pass="Nethesis,1234" \
    --env db_name="oauth_db" \
    --env db_host="127.0.0.1" \
    --env db_port="5433" \
    ${MATTERMOST_POSTGRES_OAUTH_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/postgres-oauth.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP postgres-oauth
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/postgres-oauth.ctr-id
PIDFile=%t/postgres-oauth.pid
Type=forking

[Install]
WantedBy=default.target
